<div class="panel panel-success">
  <div class="panel-heading">
    <h2>Display menu intro Seperate columns depending on their root nodes</h2>
  </div>
  <div class="panel-body">
    <%= category_roots.each_slice(1) do |category| %>
      <div style="display: block; width: 200px; float: left;">
        <%= tree_view category %>
      </div>
    <% end %>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h2>Display Menu in normal order</h2>
  </div>
  <div class="panel-body">
    <div style="display: block; width: 200px; float: left;">
      <%= tree_view category_roots %>
    </div>
  </div>
</div>
